MultiDimensionalArray/bin/Debug/net9.0/MultiDimensionalArray.deps.json
MultiDimensionalArray/bin/Debug/net9.0/MultiDimensionalArray.dll
MultiDimensionalArray/bin/Debug/net9.0/MultiDimensionalArray.exe
MultiDimensionalArray/bin/Debug/net9.0/MultiDimensionalArray.pdb
MultiDimensionalArray/bin/Debug/net9.0/MultiDimensionalArray.runtimeconfig.json
MultiDimensionalArray/MultiDimensionalArray.csproj
MultiDimensionalArray/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
MultiDimensionalArray/obj/Debug/net9.0/apphost.exe
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.AssemblyInfo.cs
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.AssemblyInfoInputs.cache
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.assets.cache
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.csproj.CoreCompileInputs.cache
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.csproj.FileListAbsolute.txt
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.dll
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.GeneratedMSBuildEditorConfig.editorconfig
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.genruntimeconfig.cache
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.GlobalUsings.g.cs
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.pdb
MultiDimensionalArray/obj/Debug/net9.0/MultiDimensionalArray.sourcelink.json
MultiDimensionalArray/obj/Debug/net9.0/ref/MultiDimensionalArray.dll
MultiDimensionalArray/obj/Debug/net9.0/refint/MultiDimensionalArray.dll
MultiDimensionalArray/obj/MultiDimensionalArray.csproj.nuget.dgspec.json
MultiDimensionalArray/obj/MultiDimensionalArray.csproj.nuget.g.props
MultiDimensionalArray/obj/MultiDimensionalArray.csproj.nuget.g.targets
MultiDimensionalArray/obj/project.assets.json
MultiDimensionalArray/obj/project.nuget.cache
MultiDimensionalArray/Program.cs
/Unique Calulator (Python)/functions/__pycache__
